.login {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../assets/img/loginbackground.jpg");
    background-size: cover;
    overflow: hidden;
}
.loginTitle {
    color: white;
    font-size: 50px;
    font-family: 'Lora', serif;
}
.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm > label {
    font-family: 'Varela', sans-serif;
    width: 20vw;
    color: white;
    margin: 20px 0 10px 0;
    font-size: 16px;
}
.loginInput {
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    border: none;
}
.loginInput:focus {
    outline: none;
}
.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: #2e303a;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Varela', sans-serif;
    font-size: 16px;
}
.loginRegisterButton {
    margin-top: 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: underline;
}