.write {
    padding-top: 50px;
}
.writeImage {
    margin-left: 150px;
    width: 70vw;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}
.writeForm {
    position: relative;
}
.writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.writeIcon {
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: inline-flex;
    font-size: 18px;
    color: #a1a1a1;
    cursor: pointer;;
}
.writeIcon:last-child {
    font-size: 26px;
}
.writeInput {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 60vw;
}
.writeInput:focus {
    outline: none;
}
.writeText {
    font-size: 20px;
    height: 70vh;
}
.writeSubmit {
    position: absolute;
    top: 20px;
    right: 21.5%;
    color: white;
    background-color: #2e303a;
    padding: 10px;
    border: none;border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}