.write {
    display: flex;
}
.writeWrapper {
    flex: 9;
}
.writeImage {
    margin-left: 150px;
    margin-bottom: 15px;
    width: 80%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    -webkit-box-shadow: 0px 10px 15px -6px rgba(0,0,0,0.3); 
    box-shadow: 0px 10px 15px -6px rgba(0,0,0,0.3);
}
.writeForm {
    position: relative;
}
.writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.writeIcon {
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: inline-flex;
    font-size: 18px;
    color: #a1a1a1;
    cursor: pointer;;
}
.writeIcon:last-child {
    font-size: 26px;
}
.writeInput {
    vertical-align: middle;
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 55%;
}
.writeInput:focus {
    outline: none;
}
.writeInputCategory {
    vertical-align: middle;
    font-size: 20px;
    border: none;
    padding: 20px;
    width: 15%;
}
.writeInputCategory:focus {
    outline: none;
}
.writeFormGroup textarea {
    text-align: justify;
    border: 2px solid #dadada;
    width: 88%;
    margin-bottom: 70px;
    border-radius: 10px;
}
.writeText {
    font-size: 20px;
    height: 50vh;
}
.writeSubmit {
    position: absolute;
    top: 20px;
    right: 6.5%;
    color: white;
    background-color: #2e303a;
    padding: 10px;
    border: none;border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}