.nav {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Comfortaa', 'sans-serif';
    z-index: 1;
}
.navLeft,.navRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navIcon {
    font-size: 25px;
    margin-right: 15px;
    color: rgb(25, 24, 31);
    cursor: pointer;
}
.navCenter {
    flex: 6;
}
.navImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.navList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.navSearchIcon {
    font-size: 20px;
    color: rgb(25, 24, 31);
    cursor: pointer;
    margin-right: 15px;
}