.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: rgb(58, 58, 59);
}
.headerTitleSmall {
    position: absolute;
    top: 12%;
    font-size: 20px;
}
.headerTitleLarge {
    position: absolute;
    top: 14%;
    font-size: 75px;
}
.headerImage {
    margin-top: -20px;
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 20px;
}